<h2>Lista de secretarios: </h2>
<button (click)="createSecretary()" class="btn btn-sucess">Crear</button>  
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th> Id </th>
            <th> DNI </th>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Edad </th>
            <th> Genero </th>
            <th> Num. Telefónico</th>
            <th> Años de labor</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of listaSecretario">
            <td> {{s.secretarioId}} </td>
            <td> {{s.dni}} </td>
            <td> {{s.nombre}} </td>
            <td> {{s.apellido}} </td>
            <td> {{s.edad}} </td>
            <td> {{s.genero}} </td>
            <td> {{s.numTelefonico}} </td>
            <td> {{s.aniosLabor}} </td>
            <td> 
                <button (click)="modifySecretary(s.secretarioId)" class="btn btn-info">Update</button>   
                <button (click)="deleteSecretary(s.secretarioId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button> 
                <button (click)="infoSecretary(s.secretarioId)" class="btn btn-primary" style="margin-left: 10px;">Info</button> 
            </td>
        </tr>
    </tbody>
</table>