<h3>Información sobre el registro de calificación </h3>
<div>
    <div>
        <label><b>Id: </b> {{ registroCalificacion.registroCalifacionId }}</label>
    </div>
    <div>
        <label><b>Estudiante: </b> {{ registroCalificacion.estudiante }}</label>
    </div>
    <div>
        <label><b>Docente-Curso: </b> {{ registroCalificacion.docenteCurso }}</label>
    </div>
    <div>
        <label><b>Calificacion 1: </b> {{ registroCalificacion.calificacion1 }}</label>
    </div>
    <div>
        <label><b>Calificacion 2: </b> {{ registroCalificacion.calificacion2 }}</label>
    </div>
    <div>
        <label><b>Calificacion 3: </b> {{ registroCalificacion.calificacion3 }}</label>
    </div>
    <div>
        <label><b>Calificacion 4: </b> {{ registroCalificacion.calificacion4 }}</label>
    </div>
    <div>
        <label><b>Promedio: </b> {{ promedio }}</label>
    </div>
    <div>
        <label><b>Bimestre: </b> {{ registroCalificacion.bimestre }}</label>
    </div>
</div>