<h3>Información sobre el secretario</h3>
<div>
  <div>
    <label><b>Id: </b> {{ secretario.secretarioId }}</label>
  </div>
  <div>
    <label><b>DNI: </b> {{ secretario.dni }}</label>
  </div>
  <div>
    <label><b>Nombre: </b> {{ secretario.nombre }}</label>
  </div>
  <div>
    <label><b>Apellido: </b> {{ secretario.apellido }}</label>
  </div>
  <div>
    <label><b>Edad: </b> {{ secretario.edad }}</label>
  </div>
  <div>
    <label><b>Género: </b> {{ secretario.genero }}</label>
  </div>
  <div>
    <label><b>Número telefónico: </b> {{ secretario.numTelefonico }}</label>
  </div>
  <div>
    <label><b>Años de labor: </b> {{ secretario.aniosLabor }}</label>
  </div>
</div>