<h3>Información sobre el docente</h3>
<div>
  <div>
    <label><b>Id: </b> {{ docente.docenteId }}</label>
  </div>
  <div>
    <label><b>DNI: </b> {{ docente.dni }}</label>
  </div>
  <div>
    <label><b>Nombre: </b> {{ docente.nombre }}</label>
  </div>
  <div>
    <label><b>Apellido: </b> {{ docente.apellido }}</label>
  </div>
  <div>
    <label><b>Edad: </b> {{ docente.edad }}</label>
  </div>
  <div>
    <label><b>Género: </b> {{ docente.genero }}</label>
  </div>
  <div>
    <label><b>Número telefónico: </b> {{ docente.numTelefonico }}</label>
  </div>
  <div>
    <label><b>Especialidad: </b> {{ docente.especialidad }}</label>
  </div>
</div>